/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
	margin: 0 auto;
	width: 970px;
	padding: 0 15px;
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: LightGray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Custom Styles */
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	width: 100%;
	position: fixed;
	z-index: 9999;
}

.top-navigation > .content {
	height: 70px;
}

.top-navigation .content .logo {
	height: 70px;
}
.top-navigation .content > .links {
	float: right;
	margin-top: 25px; 
	font-size: 16px; 
	color: #838994; 
}

.top-navigation .content .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .content .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .content .links > li:hover {
	cursor: pointer;
	color: #333333;
}

/* Introduction Section */
.introduction {
	background-image: url(../images/first-background.jpg);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 450px;
	overflow: auto;
}

.introduction .content {
	color: white;
	text-align: center;
}

.introduction .content h1,
.introduction .content h3 {
	font-weight: 300;
}

.introduction .content h1 {
	margin-top: 150px;
	font-size: 40px;
}

.introduction .content h3 {
	margin-top: 15px;
	font-size: 20px;
}

.introduction .content .buttons {
	color: white;
	text-align: center;
	margin-top: 25px;
}

.buttons button {
	background-color: #f15a29;
	border-color: #f15a29;
	border-radius: 4px;
	border-style: none;
	text-shadow: none;
	color: white;
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	font-weight: 400;
	padding: 16px 26px;
	line-height: 1.33;
	margin: 0 auto;
}

.buttons button:hover {
	background-color: #E34510;
	cursor: pointer;
}

/* Cases Section */
.cases {
	background-color: white;
	text-align: center;
	overflow: hidden;
	padding-bottom: 100px;
}

.cases .content {
	color: #333333;
	padding-top: 60px
}

.cases .content h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin: 10px 0 40px 0;
}

.cases .content ul {
	display: flex;/*inline-block*/
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
}

.cases .content .devices {
	width: 33.33333%;
}

.devices .caption {
	width: 70%;
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	margin: 20px auto;
}
/*.cases .content h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin: 10px 0 40px 0;
}

.cases .content .devices li {
	display: inline-block;
	margin: 0 20px;
}

.cases .content .devices h3 {
	font-weight: 400;
	font-size: 28px;
	margin: 20px 0 20px 0;
}*/

/* Social Footer */
.social {
	background-color: white;
	text-align: center;
	padding-bottom: 100px;
}
.social .content hr {
	border-top: 1px solid #eaebec;
	margin-top: -1px;
}

.social .content h5 {
	text-align: center;
	padding-top: 10px;
}

.social .content .icons {
	display: inline-block;
	margin: 10px 0 15px 0;
}

.icons li {
	display: inline-block;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	border: 2px solid #eaebec;
	padding: 15px;
	margin: 10px 5px;
	text-align: center;
}

.fa-twitter {
	color: #55ACEE;
}

.fa-facebook {
	color: #4C66A4;
}

.fa-instagram {
	color: #3F729B;
}
.social .copy {
	padding-top: 100px;
	margin: 50px;
	font-weight: 200;
	font-size: 15px;
}